@keyframes pulse {
  100% {
    opacity: 1;
  }
}

.brackets {
  background-color: rgb(27, 27, 27);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.bracket {
  display: flex;
  flex-direction: column;
}

.brackets__error-message {
  margin: auto;
  font-size: 1.4rem;
  font-family: monospace, 'Inter';
  opacity: 0;
  animation: pulse 1500ms ease-in infinite alternate;
}

.bracket__header {
  align-self: center;
  margin-bottom: 10px;
  margin-top: 10px;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
}

.bracket__raid_page_bracket {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  width: 97%;
  margin: auto;
  margin-bottom: 35px;
  background: radial-gradient(circle, rgb(0 133 255 / 21%) 25%, rgba(27, 27, 27, 1) 89%);
}

.bracket__raid-id {
  position: absolute;
  top: 0;
  font-size: 0.7rem;
}

.bracket__group_page_bracket {
  min-width: 500px;
  width: 46%;
  margin: 15px 9px;
  box-shadow: 0 0 3px 1px #ffffff;
  background: linear-gradient(to right, #BF953F, #e1d29b, #cd9929, #e7de87, #AA771C);
}

.bracket__notations_page_bracket {
  display: grid;
  grid-template-columns: 12% 23% 23% 25% 17%;
  padding: 4px;
  background: #bb7f27;
  border-top: solid 3px #d1defb42;
  list-style: none;
  margin: 0;
}

.bracket__notation {
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 6px 0;
}

.bracket__players {
  display: grid;
  row-gap: 3px;
}

.bracket__group-title {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  padding: 2px 0;
}

.bracket__row_page_bracket {
  display: grid;
  grid-template-columns: 12% 23% 23% 25% 17%;
  margin: 0;
  padding: 0;
  color: #bf9b41;
  font-size: 0.95rem;
  list-style-type: none;
  background: #000000;
  border: 3px solid transparent;
  position: relative;
}

.bracket__cell_page_bracket {
  border: 1px solid #15314b;
  box-shadow: inset 0 0 20px 5px #042748;
}

.bracket__cell_page_bracket[data-title]:after {
  content: attr(data-title);
  background: linear-gradient(180deg, rgb(21 49 75) 25%, rgb(1 15 27) 62%);
  color: #9ed0fb;
  font-size: 0.8rem;
  font-weight: 500;
  position: absolute;
  padding: 4px 4px 4px 8px;
  border-radius: 5px;
  top: 0;
  left: 83%;
  white-space: normal;
  box-shadow: 0px 0px 4px 1px #000000;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 5;
  visibility: hidden;
}

.bracket__cell_page_bracket[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}


.bracket__edit-note-button {
  position: absolute;
  top: 7px;
  right: 1px;
  width: 16px;
  height: 16px;
  background-image: url(../../images/change_w.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 8px;
  cursor: pointer;
  border: 0;
}

@keyframes rotate {
  100% {transform: rotate(360deg);}
}

.bracket__loading-button {
  animation: rotate 1100ms infinite linear;
}

.bracket__group-buffs_color_black {
  color: #000000;
}

.bracket__raid-border {
  background-image: url(../../images/border_bottom.svg);
  width: 100%;
  height: 30px;
  background-position: center;
  background-size: 300px;
}

.brackets__modal {
  background: linear-gradient(90deg, rgba(191, 149, 63, 1) 9%,
      rgba(232, 226, 170, 1) 29%, rgba(242, 209, 75, 1) 50%,
      rgba(235, 229, 166, 1) 72%, rgba(170, 119, 28, 1) 93%);
  width: 50%;
  text-align: center;
  border: none;
  padding: 0;
  border-radius: 5px;
}

.brackets__modal[open]::backdrop {
  animation: backdrop-fade 1.5s ease forwards;
}

.brackets__form {
  padding: 20px;
}

.brackets__form-input {
  min-width: 90%;
  max-width: 90%;
  min-height: 40px;
  max-height: 200px;
  border-radius: 5px;
}

.brackets__modal-buttons {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
  justify-content: space-between;
  padding-top: 15px;
}

.brackets__modal-button {
  background: rgb(191,149,63);
  background: linear-gradient(180deg, rgba(191,149,63,1) 15%,
  rgba(242,209,75,1) 49%, rgba(191,149,63,1) 86%);
  box-shadow: 0px 1px 3px 1px #000000;
  border: none;
  border-radius: 5px;
  width: 40%;
  height: 23px;
  cursor: pointer;
}

.brackets__modal-button:hover {
  box-shadow: 0px 0px 3px 3px #fffacd;
}
