@keyframes opacity-error {
  100% {
    opacity: 1;
  }
}

.brackets {
  background-color: rgb(27, 27, 27);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.brackets__error-message {
  margin: auto;
  font-size: 1.4rem;
  font-family: monospace, 'Inter';
  opacity: 0;
  animation: opacity-error 1500ms ease-in infinite alternate;
}

.brackets__header {
  padding-bottom: 7px;
  padding-top: 7px;
  color: #ffffff;
  margin: 0 0 7px 0;
  text-shadow: 2px 2px 7px rgb(0 0 0);
  background: radial-gradient(circle, rgb(187 127 39) 25%, rgba(27, 27, 27, 1) 89%);
  width: 100%;
  border: 5px double wheat;
  border-left: none;
  border-right: none;
  text-align: center;
}

.brackets__header:first-of-type {
  margin-top: 6px;
}

.brackets__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.brackets__modal {
  background: linear-gradient(90deg, rgba(191, 149, 63, 1) 9%,
      rgba(232, 226, 170, 1) 29%, rgba(242, 209, 75, 1) 50%,
      rgba(235, 229, 166, 1) 72%, rgba(170, 119, 28, 1) 93%);
  width: 50%;
  text-align: center;
  border: none;
  padding: 0;
  border-radius: 5px;
}

.brackets__modal[open]::backdrop {
  animation: backdrop-fade 1.5s ease forwards;
}

.brackets__form {
  padding: 20px;
}

.brackets__form-input {
  min-width: 90%;
  max-width: 90%;
  min-height: 40px;
  max-height: 200px;
  border-radius: 5px;
}

.brackets__modal-buttons {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: auto;
  justify-content: space-between;
  padding-top: 15px;
}

.brackets__modal-button {
  background: rgb(191, 149, 63);
  background: linear-gradient(180deg, rgba(191, 149, 63, 1) 15%,
      rgba(242, 209, 75, 1) 49%, rgba(191, 149, 63, 1) 86%);
  box-shadow: 0px 1px 3px 1px #000000;
  border: none;
  border-radius: 5px;
  width: 40%;
  height: 23px;
  cursor: pointer;
}

.brackets__modal-button:hover {
  box-shadow: 0px 0px 3px 3px #fffacd;
}

@media screen and (max-width: 1052px) {
  .bracket__raid-info {
    width: 46%;
  }
}
