.schedule {
  display: flex;
  background-color: rgb(27, 27, 27);
  position: fixed;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.schedule__header {
  align-self: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 1.8rem;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}


.schedule__block {
  overflow: hidden;
  perspective: 400px;
  perspective-origin: top;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: linear-gradient(to right, #BF953F, #e1d29b,
   #cd9929, #e7de87, #AA771C);
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 8px;
  min-height: 11vh;
  position: relative;
  box-shadow: inset 0px 0px 3px 3px #e1d29b,
   5px 0px 7px 3px #4a4437, -5px 0px 7px 3px #4a4437;
}

.card:nth-of-type(1) {
  transform: rotateX(2deg) scale(0.991);
}
.card:nth-of-type(2) {
  transform: rotateX(1deg) scale(0.996);
}
.card:nth-of-type(3) {
  transform: rotateX(1deg) scale(1.003);
}
.card:nth-of-type(4) {
  transform: scale(1.01);
}

.card:nth-of-type(5) {
  transform: rotateX(359deg) scale(1.004);
}
.card:nth-of-type(6) {
  transform: rotateX(359deg) scale(0.997);
}
.card:nth-of-type(7) {
  transform: rotateX(358deg) scale(0.991);
}

.card__date {
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 8px;
}

.card__event-error {
  color: #ab0000;
  font-size: 0.9rem;
  font-weight: 500;
  margin-left: 17px;
}

.card__layout-element {
  display: flex;
  justify-content: flex-start;
  color: black;
  font-weight: 500;
  height: 77%;
}

.card__element {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-evenly;
  max-width: calc((100% / 4) - 10px);
  min-height:  67px;
  padding: 6px;
  border-radius: 22px;
  margin: 5px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__element-top {
  display: flex;
  justify-content: space-between;
}

.card__change-event-button {
  width: 16px;
  height: 16px;
  background-image: url(../../images/change_w.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  padding: 8px;
  cursor: pointer;
  border: 0;
}

.card__element-title {
  overflow: hidden;
}

.card__element-title:hover {
  overflow: inherit;
  text-overflow: inherit;
  white-space: inherit;
  height: auto;
}

.card__element_admin {
  background-color: #ffffff69;
  background-image: url(../../images/cross.svg);
  background-size: 64px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  cursor: pointer;
}

/* CSSTransition start ====> */

.scrolldown-enter-active {
  transform: translateY(5px) ;
  transition: all 290ms ease-in-out;
}

.scrollup-enter-active {
  transform: translateY(-5px) ;
  transition: all 290ms ease-in-out;
}

/* <==== CSSTransition end */

.schedule__style-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
}

@media screen and (max-width: 520px) {
  .card__element {
    min-height: 50px;
    padding: 6px 1px 6px 1px;
    border-radius: 10px;
    max-width: calc((100% / 4) - 6px);
    margin: 3px;
  }
  .card__element_admin {
    background-size: 32px;
  }
  .card__change-event-button {
    width: 10px;
    height: 10px;
    padding: 4px;
  }
  .schedule__loading {
    height: 50px;
  }
  .schedule__loading .lds-spinner__element {
    transform-origin: 40px 24px;
    margin: 0;
  }
  .schedule__loading .lds-spinner__element::after {
    width: 4px;
    height: 12px;
    left: 38px;
  }
}

@media screen and (max-height: 882px) {
  .card__element {
    min-height: 50px;
    margin: 3px;
  }
  .card__element_admin {
    background-size: 32px;
  }
  .schedule__loading {
    height: 50px;
  }
  .schedule__loading .lds-spinner__element {
    transform-origin: 40px 24px;
    margin: 0;
  }
  .schedule__loading .lds-spinner__element::after {
    width: 4px;
    height: 12px;
    left: 38px;
  }
}
