.event-form__label {
  font-weight: bold;
  text-align: left;
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  position: relative;
}

.event-form__placeholder {
  position: absolute;
  width: 100%;
  top: 63%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #e5d59a;
  font-weight: 500;
  color: #000;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  z-index: 2;
}

.event-form__placeholder-item {
  padding: 5px 5px 0 5px;
  border-bottom: 1px dotted #0b1c28;
  cursor: pointer;
}

.event-form__placeholder-item:hover {
  background-color: #ae7d23;
}

.event-form__select, .event-form__input {
  width: calc(100% - 16px);
  padding: 5px;
  margin: 6px 0 9px 0;
  border: 3px solid #cacaca;
  border-radius: 4px;
  background: #f9f9f9;
}

.event-form__select {
  width: 100%;
}

.event-form__error {
  margin: 0px 6px 6px 6px;
  min-height: 14.7px;
  color: #ab0000;
}

.event-form__error-response {
  color: #ab0000;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  padding-top: 1rem;
  min-height: 3rem;
}

.event-form__button {
  width: 100%;
  border: none;
  background: #fffbd2;
  box-shadow: 0px 0px 6px 1px #464646;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  color: #000;
  font-weight: 500;
}

.event-form__button:disabled {
  background: #fffbd263;
  box-shadow: none;
  cursor: auto;
  color: #585555e0;
}

.event-form__button_type_delete {
  margin-top: 20px;
  background: #ab2727;
  box-shadow: 0px 2px 6px 1px #000000;
}
