html {
  font-size: 16px;
}

.App {
  max-width: 100%;
  min-width: 320px;
  color: #FFFFFF;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

@media screen and (max-height: 882px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-height: 710px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 780px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 460px) {
  html {
    font-size: 11px;
  }
}
