.layout {
  min-height: 100vh;
  background: url(../../images/header_bg22.jpg) center bottom;
  background-size: 50% 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

@media screen and (max-width: 620px) {
  .layout {
    background-size: 200% 80%;
  }
}
