.header-text {
  margin: 0 30px 30px 30px;
  text-align: center;
  text-decoration: underline;
  font-family: 'Yeseva One', cursive;
  font-size: 1.9rem;
  font-weight: 400;
  color: #dbb341;
}

.header-input {
  margin: 0 0 29px 0;
  font-family: 'Yeseva One', cursive;
  font-size: 1.9rem;
  font-weight: 400;
  color: #dbb341;
  text-align: center;
  border: none;
  background-color: transparent;
}
