.constructor {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(../../images/online_bg.png);
  background-position: center;
  background-size: cover;
}

.constructor__header {
  text-align: center;
}

.button-selection {
  display: flex;
  height: 44px;
  margin-left: 10%;
}

.button {
  width: 30%;
  background: #4e9bdd;
  border: 2px solid #9b9b9bd6;
  box-shadow: inset 0px 0px 4px 3px #1b1f22;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  cursor: pointer;
}

.constructor__layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 55vh 17vh;
  margin-top: 15px;
}

.constructor__brackets {
  border-left: solid 3px #d1defb42;
  display: grid;
  grid-row: 1/2;
  grid-template-columns: 15% 22% 24% 24% 8% 7%;
  margin-left: 3%;
  overflow-x: auto;
  direction: ltr;
}

.constructor__brackets::-webkit-scrollbar {
  width: 0;
}

.constructor__brackets-delete-button {
  grid-column: 6;
  grid-row-start: 1;
  grid-row-end: 10;
  border-left: solid 3px #d1defb42;
}

.constructor__brackets-header {
  display: grid;
  grid-column: 1 / 6;
  position: sticky;
  top: 0;
  grid-template-columns: 16% 24% 26% 26% 8%;
  padding: 4px;
  background: #0d2c41;
  border-top: solid 3px #d1defb42;
}

.constructor__brackets-title {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 6px 0;
  border-radius: 5px;
}

.brackets-group {
  display: grid;
  grid-column: 1 / 6;
  row-gap: 3px;
}

.brackets-group:last-of-type {
  border-bottom: solid 3px #d1defb42;
}

.brackets-group__header {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
  padding: 2px 0;
}

.brackets-group__rows {
  display: grid;
  grid-template-columns: 16% 24% 26% 26% 8%;;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #0000008c;
  border: 3px solid transparent;
  cursor: grab;
  position: relative;
}

.brackets-group__rows:hover {
  border: 3px ridge #a7e6ff;
}

.brackets__delete-button {
  position: absolute;
  top: 0%;
  right: -7%;
  height: 100%;
  width: 6%;
  background-color: #0000008c;
  background-image: url(../../images/delete_player.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid #f1f1f173;
  cursor: grab;
  opacity: 0;
  transition: all ease-in-out 300ms;
}

.brackets-group__rows:hover .brackets__delete-button{
  opacity: 1;
}

.brackets-group__cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #f1f1f173;
  color: #eebc1deb;
  font-size: 1.1rem;
  padding: 5px;
}

.brackets-group__cell_type_select {
  padding: 3.61px 0;
}

.select-role {
  width: 100%;
  color: #eebc1deb;
  background: transparent;
  border: none;
}

.select-role > option {
  background-color: #0d2336;
}

.constructor__table {
  border-right: solid 3px #d1defb42;
  display: grid;
  grid-row: 1/3;
  grid-template-columns: 6% 28% 28% 29% 9%;
  margin-right: 3%;
  overflow-x: auto;
  row-gap: 3px;
}

.constructor__table-drag-button {
  grid-column: 1;
  grid-row-start: 1;
  border-right: solid 3px #d1defb42;
}

.constructor__table-row-header {
  display: grid;
  grid-column: 2 / 6;
  position: sticky;
  top: 0;
  grid-template-columns: 30% 30% 30% 10%;
  padding: 4px;
  border-top: solid 3px #d1defb42;
  background: #0d2c41;
  z-index: 1;
}

.constructor__table-column-header {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 6px 0;
  margin: 0px 1px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 2px #97979769;
  border: 2px solid #011e2e;
  background: transparent;
  transition: all 400ms ease;
}

.constructor__table-column-header:hover {
  background: linear-gradient(180deg, rgb(255 255 255 / 59%) 0%, rgb(1 30 46) 100%);
}

.constructor__table-column-header:active {
  background: #ffffff;
  box-shadow: inset 0px -20px 13px 5px #0d2c41;
}

.constructor__table-column-marker {
  height: 100%;
  width: 18px;
  transform: rotate(270deg);
  background-color: transparent;
  background-image: url(../../images/arrow_left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 4px;
}

.table__row {
  display: grid;
  grid-template-columns: 30% 30% 30% 10%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-column: 2 / 6;
  background: #0000008c;
  border: 3px solid transparent;
  cursor: grab;
  position: relative;
}

.table__add-button {
  position: absolute;
  top: 0;
  left: -6%;
  height: 100%;
  width: 6%;
  background-color: transparent;
  background-image: url(../../images/arrow_left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  cursor: grab;
  opacity: 0;
  transition: all ease-in-out 300ms;
}

.table__row:hover {
  border: 3px ridge #a7e6ff;
}

.table__row:hover .table__add-button{
  opacity: 1;
}

.table__cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #f1f1f173;
  color: #eebc1deb;
  font-size: 1.1rem;
  padding: 5px;
}

.constructor__table::-webkit-scrollbar {
  width: 10px;
  border-top: solid 3px #d1defb42;
  border-bottom: solid 3px #d1defb42;
}

.constructor__table::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #265b87, #091a29);
}

.constructor__switch {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100px;
}

.constructor__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.constructor__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  border: 2px solid #9b9b9bd6;
  box-shadow: inset 0px 0px 4px 3px #1b1f22;
  background: #4e9bdd;
  transition: 400ms;

}

.constructor__slider:before {
  position: absolute;
  content: "";
  height: 95%;
  width: 39%;
  left: 2px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #000000;
  transition: 400ms;
  box-shadow: inset 4px 5px 17px 11px #0d2c41;
}

.constructor__slider_name_right {
  padding-left: 115%;
  white-space: nowrap;
  font-size: 1.1rem;
  font-weight: 500;
}

.constructor__slider_name_right::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ffdf78eb;
  width: 0;
  top: 90%;
  left: 106%;
}

.constructor__slider_name_left {
  white-space: nowrap;
  font-size: 1.1rem;
  font-weight: 500;
}

.constructor__slider_name_left::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ffdf78eb;
  width: 0;
  top: 90%;
  left: -90%;
}

@keyframes right-border {
  100% { width: 84%; }
}

@keyframes left-border {
  100% { width: 84%; }
}

.constructor__checkbox:checked ~ .constructor__slider_name_right::after {
  animation: right-border 500ms ease forwards
}

.constructor__checkbox:checked ~ .constructor__slider:before {
  transform: translateX(54px);
}

.constructor__checkbox:checked ~ .constructor__slider {
  background: #eebc1deb;
}

.constructor__checkbox:not(:checked) ~ .constructor__slider_name_left::after {
  animation: left-border 500ms ease forwards
}

.constructor__footer {
  display: flex;
  height: 44px;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  top: 92%;
  right: 0;
}

.constructor__buffs {
  border: solid 3px #d1defb42;
  border-top: none;
  width: 89.8%;
  margin-left: 3%;
  padding-top: 36px;
  min-height: 10%;
}

.tab-switch__button {
  color: #dcb121;
  width: 50%;
  font-weight: 500;
  border: 1px solid #8d761d;
  border-radius: 27px 27px 0px 5px;
  background: #0d2c41;
  cursor: pointer;
  transition: all 200ms linear;
}

.tab-switch__button.active {
  background: #0d2c41;
  box-shadow: inset 0px 0px 8px 6px #4e9bdd;
}

.tab-switch__button:active {
  transform: translateY(3px);
}

.list-buffs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
  column-gap: 10px;
  list-style: none;
  padding: 0;
  margin: 10px 5px 0 5px;
  color: #ff0002;
  font-size: 0.9rem;
  font-style: italic;
}

.list-buffs__name {
  font-size: 1.0rem;
  font-style: normal;
  padding-bottom: 10px;
  color: #646464;
  font-weight: 500;
}








