.content {
  display: flex;
  flex-direction: column;
  border-bottom: 2px #7792a4 dashed;
  color: #bdbde0;
}

.content__container {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 24px;
}

.content__align-block {
  display: flex;
  flex-direction: row;
}

.content__owner {
  margin: 0;
  font-weight: 500;
  color: #eebc1deb;
}

.content__date {
  margin: 0;
  padding-left: 20px;
  font-size: 0.9rem;
  font-style: italic;
  color: #54a4ff;
}

.content__delete-button {
  margin-right: 8px;
  width: 30px;
  height: 24px;
  background: url(../../images/delete_button.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border: none;
}

.content__message {
  white-space: pre-line;
}

.content__message a {
  color: inherit;
}
