.online {
  display: flex;
  flex-direction: row;
  width: 45%;
  height: 800px;
}

.online__block {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  background-image: url('../../images/online_bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 10px;
  border-image: url(../../images/border3.svg) round round;
  border-image-slice: 3%;
  box-shadow: 1px 0px 50px 0px #91ddfff7;
}

.online__block::-webkit-scrollbar {
  width: 10px;
}

.online__block::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #2f9dff, #f30505);
}

.online__button {
  height: 13%;
  min-width: 22px;
  align-self: center;
  border: transparent;
  border-radius: 7px;
  background-color: #91ddfff7;
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: inset -2px 0px 3px 0px #8e8e8ef7;
}

.online__header-block {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  justify-content: center;
}

@keyframes appearance {
  100%{
    opacity: 1;
  }
}

.online__switch-button {
  height: 38px;
  width: 87px;
  font-weight: 500;
  border: transparent;
  align-self: center;
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 7px;
  background-color: #91ddfff7;
  transition: all 0.1s ease-in-out;
  box-shadow: inset 0px 0px 3px 1px #153c52;
  cursor: pointer;
  opacity: 0;
  animation: appearance forwards 400ms linear;
}

.online__switch-button:hover {
  box-shadow: 0px 0px 4px 0px #ffffff;
}

.online__switch-button:active {
  transform: scale(1.03) translateY(2px)
}

.online__switch-button_toggle-on {
  color: #c70f0f;
}

.online__header {
  text-align: center;
}

.online__button::after {
  content: "";
  position: absolute;
  top: 7%;
  right: 15%;
  height: 86%;
  border-right: 3px ridge #fffff4;
}

.online__button-image {
  width: 40px;
  height: 50px;
  background-color: #91ddfff7;
  background-image: url(../../images/arrows.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 7px;
  position: absolute;
  z-index: 3;
  top: calc(50% - 25px);
  right: calc(50% - 20px);
  opacity: 0;
  box-shadow: inset -2px 0px 4px -1px #000000;
  transition: all 0.3s ease-in-out;
}

.online__button:hover {
  box-shadow: inset -2px 0px 3px 0px #8e8e8ef7, 2px 0px 4px 0px #8e8e8ef7;
  cursor: pointer;
}

.online__button:hover .online__button-image {
  display: block;
  opacity: 1;
  transform: translateX(13px);
}

.online-empty {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.online__background-preloader {
  display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #00000000;
}

.online__table {
  display: grid;
  grid-template-columns: 27% 30% 24% 11% 8%;
  width: 100%;
  opacity: 0;
  animation: appearance forwards 400ms linear;
}

.online__table-header {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 6px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: all 400ms ease;
}

.online__table-header:hover {
  background: #ddb122;
  box-shadow: inset 0px 0px 7px 4px #1c1c1c;
}

.online__table-header:active {
  background: #ddb122;
  box-shadow: inset 0px 40px 7px 4px #0e3354;
}

.online__table-column-marker {
  height: 100%;
  width: 18px;
  transform: rotate(270deg);
  background-color: transparent;
  background-image: url(../../images/arrow_left.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 4px;
}

/* CSSTransition start ====> */

.transform-enter   {
  width: 45%;
}

 .transform-enter-active {
  transform: translateX(15%);
  width: 13%;
  transition: all 2000ms ease-in-out;
}

.transform-enter-done {
  transform: translateX(15%);
  width: 13%;
}

.transform-exit {
  transform: translateX(15%);
  width: 13%;

}

.transform-exit-active {
  width: 45%;
  transition: all 2000ms ease-in-out;
  transform: translateX(0);
}

/* <==== CSSTransition end */

@keyframes closed {
  0% {
    opacity: 0;
    transform: rotate(90deg);
    transform-origin: top;
    min-width: 230%;
  }
  100% {
    opacity: 1;
    transform: rotate(90deg);
    transform-origin: top;
    min-width: 230%;
  }
}

.transform-enter-active .online-empty {
  opacity: 0;
  transition: all 1300ms ease-in-out;
}

.transform-enter-done .online-empty {
  animation: closed 1s ease-in-out forwards;
}

.transform-exit .online-empty {
  opacity: 1;
  transform: rotate(90deg);
  min-width: 230%;
}

.transform-exit-active .online-empty {
  opacity: 0;
  transition: all 300ms ease-in-out;
}

.transform-enter-active .online__background-preloader {
  background: #00000070;
  transition: all 1800ms ease-in-out;
}

.transform-enter-done .online__background-preloader {
  background: #00000070;
}

.transform-exit .online__table {
  opacity: 0;
}

.transform-exit-active .online__table {
  opacity: 1;
  transition: all 1800ms ease-in-out;
}

