.sheet {
  display: contents;
  margin: 0;
  padding: 0;
  list-style-type: none;
  grid-column: 1 / 6;
  border-top: 1px solid #91ddfff7;
}

.sheet__cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #f1f1f173;
  color: #eebc1deb;
  font-size: 1.2rem;
  padding: 5px;
}
