

.news {
  height: 800px;
  width: 45%;
  background-image: url('../../images/online_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  border: solid 10px;
  border-image: url(../../images/border2.svg) round round;
  border-image-slice: 4%;
  box-shadow: 1px 0px 50px 0px #f30505;
}

.transform-news-enter {
  width: 45%;
}

 .transform-news-enter-active {
  width: 80%;

  transition: all 2s ease-in-out;
}

.transform-news-enter-done {
  width: 80%;

}

.transform-news-exit {
  width: 80%;

}

.transform-news-exit-active {
  width: 45%;

  transition: all 2s ease-in-out;
}

